@import '../../app/style.scss';
.header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 1.88rem 0 6rem;
  position: relative;
  @include md-screen {
    padding: 0;
    align-items: center;
    height: 61px;
    position: static;
  }
  &__logo {
    width: 104px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 3%;
    right: 0;
    text-align: center;
    @include md-screen {
      width: 42px;
      height: 39px;
      position: static;
    }
  }

  &__menu {
    display: flex;
    padding: 0 3.13rem 1.88rem;
    border-bottom: 1px solid #ebebeb;
    z-index: 10;
    @include md-screen {
      align-items: center;
      width: 150px;
      padding: 10px 20px;
      height: 100%;
    }
  }

  .header__link {
    margin-right: 3.13rem;
    @include md-screen {
      margin-right: 1.25rem;
    }

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      // opacity: 0.4;
      cursor: pointer;
    }
  }

  &__icon {
    width: 24px;
    height: auto;
  }

  &__el_of {
    @include md-screen {
      gap: 1.25rem;
      display: none;
    }
  }

  &__link_active {
    border-bottom: 1px solid #c8c7c7;
  }

  &__icon_active {
    opacity: 0.4;
  }
}
