@import "../../app/style.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  gap: 20px;

  @include sm-screen {
  height: 445px;
   min-width: 312px;
  }

  &__moreLink {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 24px;
    background: var(--color-blackSecondary);
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(192, 192, 192, 0.1),
      -4px -4px 4px 0px rgba(192, 192, 192, 0.1);
  }
  &__moreBtn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    min-width: 145px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    z-index: 2;
    color: var(--color-black);
    font-family: var(--font-ubuntu);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 150% */
  }

  &__price {
    display: flex;
    padding: 9px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px 0px;
    font-family: var(--font-ubuntu);
    background-color: var(--color-primary);
    color: var(--color-blackSecondary);

    @include sm-screen {
      font-size: 24px;
    }
  }
  &__img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      margin: 0 auto;
      height: 100%;
    }
  }

  &__button {
    cursor: pointer;
    font-family: Copperplate;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    padding: 12px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background:var(--color-primary);
    color: var(--color-black);
    box-shadow: 2px -4px 8px 0px rgba(192, 192, 192, 0.25),
      -2px 4px 8px 0px rgba(192, 192, 192, 0.25);

    @include sm-screen {
      color: var(--color-black);
      font-family: Copperplate;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 30px */
      display: flex;
      padding: 5px 0px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
    }
  }

  &:hover {
    .card__price {
      border-radius: 24px 0px;
      background: rgba(217, 217, 217, 0.5);
    }
    .card__button {
      background-color: var(--color-black);
      color: var(--color-primary);
    }
    .card__moreBtn {
      display: flex;
    }
  }
}
