@import "../../style.scss";

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1332px;
  margin-bottom: 160px;

  @include md-screen {
    margin-top: 50px;
  }

  .box {
    padding-top: 40px;
    padding-bottom: 160px;
    &__title {
      color: #ebebeb;
      font-family: Copperplate;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 65px;

      @include tb-screen {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}
