@import './style.scss';

.root {
  padding: 120px 0 228px 50px;
  max-width: 993px;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  h1 {
    color: #fff;
    font-family: Copperplate;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 50px;
  }
  p {
    color: #d7d7d7;
    font-family: Copperplate;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    max-width: 588px;
  }
}
