@import "../../app/style.scss";

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1332px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 28px;
  row-gap: 50px;

  @include tb-screen {
    grid-template-columns: 1fr 1fr;
  }

  @include sm-screen {
    grid-template-columns: 1fr;
  }
}
