
@import "../../app/style.scss";

.container {
  width: 90%;
  margin: 0 auto;
}
.cards {
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 28px;

  @include md-screen {
    grid-template-columns: 1fr 1fr;
  }
  @include sm-screen {
    grid-template-columns: 1fr;
  }
}
